{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css1/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	
	<div class="container">
		<div class="img">
			<img src="{% static 'img/bg.svg' %}">
		</div>
		<div class="login-content">
			<form action="" method="POST">
				<img src="{% static 'img/person.svg'%}">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Username</h5>
           		   		<input type="text" class="input" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" class="input"name="password" autocomplete="current-password" required id="id_password"></td></tr>
            	   </div>
            	</div>

				<input type="submit" class="btn" value="Login">
				{% csrf_token %}
				{% if messages %}
				<div class="messages">
					{% for message in messages %}

					<div class="alert alert-danger" role="alert" {% if message.tags %}
						 {% endif %}>{{ message }}</div>
					{% endfor %}
				</div>
				{% endif %}
            </form>
        </div>
	</div>
	

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>
